.UpdateCustomerDetails {
	align-items: center;
    background-color: aliceblue;
    color: #00897b;
    border-color: #00897b;
}

.UpdateCustomerDetails label{
    font-size: 18px;
    color:#00897b;
}

.errorMessage{
    color:red;
}

.UpdateCustomerDetails input{    
    width: 250px;
    height: 30px;
}

.UpdateCustomerDetails select{    
    width: 250px;
    height: 30px;
}

.UpdateCustomerDetails > form{
    text-align: center;
    align-items: flex-start;
}
