.AddCoupon {
	align-items: center;
    background-color: aliceblue;
    color: #00897b;
    border-color: #00897b;
}

.AddCoupon input{    
    width: 310px;
    height: 50px;
}

.labelAdd{  
    display: flex;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    color:dimgray;
}

.selectCategory {
    width: 310px;
}

.AddCoupon .disabledArea1 {
    background-color: rgb(208, 220, 221);
}
