.AuthMenu {
	position: absolute;
    right:40px;
    top:30px;
    font-size: 19px;
    color: #84ffff;
}

.normal {
    color: rgb(253, 235, 70);
    text-decoration: none;
}

.active {
    font-weight: 600;
    color: rgb(253, 235, 70);
    text-transform: uppercase;
    text-decoration: none;
}