.AdminAddCompany {
	align-items: center;
    background-color: aliceblue;
    color: #00897b;
    border-color: #00897b;
}

.AdminAddCompany input{    
    width: 310px;
    height: 50px;
}

.labelAdd{  
    display: flex;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    color:dimgray;
}

.AdminAddCompany {
    width: 310px;
}